node_modules
dist
.env
.DS_Store
Thumbs.db
*.log
.eslintcache
.vscode/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml
vite.config.ts.timestamp-*
.eslintcache
.vscode/*
!.vscode/extensions.json
*.local
